* {
    margin: 0;
    padding: 0;
}

body {
    min-width: 960px;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    text-transform: uppercase;
    background: #000000 url("https://i.imgur.com/UhuqbXb.jpg") no-repeat center top;
    color: #ffffff;
}

.main-header {
    margin-bottom: 60px;
    background-color: #000000;
    width: 100%;
    color: #ffffff;
    top: 0px;

}

.main-navigation {
    width: 780px;
    float: left;
}

.main-navigation a {
    display: block;
    padding: 25px 20px;
    color: #ffffff;
    text-decoration: none;
}

.main-navigation a:hover {
    background: #242424;
}

.main-navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    line-height: 20px;
}



.user-block {
    display: flex;
    max-width: 140px;
    align-items: center; /* Выравнивание по вертикали */
    float: right;
}

.user-login {
    position: relative;
    display: inline-block;
    vertical-align: top;

    padding: 25px 20px;
    padding-left: 50px;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;
}
.user-profil {
    position: relative;
    display: inline-block;
    vertical-align: top;

    padding: 25px 20px;

    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    text-decoration: none;

}

.user-profil:hover {
    background: #242424;

}

.user-profil:hover::before {
    opacity: 1;
}

.user-login:hover {
    background: #242424;

}

.user-login::before {
    content: "";
    position: absolute;
    top: 28px;
    left: 20px;

    width: 18px;
    height: 16px;

    background: url("https://i.imgur.com/n7SKPJv.png") no-repeat;
    background-position: -51px -181px;
    opacity: 0.3;
}

.user-login:hover::before {
    opacity: 1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}



.main-footer {
    margin-top: 65px;
    padding-top: 60px;
    padding-bottom: 40px;

    color: #ffffff;

    background: #232323 url("https://i.imgur.com/I6veVJe.jpg");
}

.footer-contacts {
    float: left;
    width: 320px;
    margin-right: 60px;
}

.footer-contacts a {
    color: #ffffff;
}

.footer-contacts a:hover {
    text-decoration: none;
}

.footer-social {
    float: left;
    width: 180px;

    text-align: center;
}

.footer-social p {
    margin: 0;
    margin-bottom: 15px;
}

.social-btn {
    display: inline-block;
    vertical-align: top;

    width: 43px;
    height: 43px;
    margin: 0 2px;

    font-size: 0px;
    text-decoration: none;

    background: #000000 url("https://i.imgur.com/n7SKPJv.png") no-repeat center;

    transition:
            background-position 0.5s,
            background-color 0.5s;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-fb {
    background-position: -99px -126px;
}

.social-btn-inst {
    background-position: -98px -78px;
}

.social-btn-vk {
    background-position: -99px -31px;
}

.social-btn:hover {
    background-color: #ffffff;
}

.social-btn-fb:hover {
    background-position: -51px -125px;
}

.social-btn-vk:hover {
    background-position: -51px -32px;
}

.social-btn-inst:hover {
    background-position: -51px -78px;
}

/* Footer */

.footer-copyright {
    float: right;
    max-width: 180px;
}

.footer-copyright p {
    margin: 0;
    margin-bottom: 15px;

    text-align: center;
}

.footer-copyright .btn {
    margin-right: 0;
}
/* cyrillic-ext */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngRUXNadjH0qYEzV7ab-oWlsbCLwR26eg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngRUXNadjH0qYEzV7ab-oWlsbCCwR26eg.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngRUXNadjH0qYEzV7ab-oWlsbCIwR26eg.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngRUXNadjH0qYEzV7ab-oWlsbCGwR0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngSUXNadjH0qYEzV7ab-oWlsbg95AiIW_3QRQ.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngSUXNadjH0qYEzV7ab-oWlsbg95AiBW_3QRQ.woff2) format('woff2');
    unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngSUXNadjH0qYEzV7ab-oWlsbg95AiLW_3QRQ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/s/ptsansnarrow/v18/BngSUXNadjH0qYEzV7ab-oWlsbg95AiFW_0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 10px;
}




/* Стили для основного контента */
.main-content {
    padding: 60px 40px;
    text-align: center;
    border-radius: 15px;
    margin: 40px auto;
    max-width: 1200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.main-content img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    margin-bottom: 40px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.main-content h1 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.main-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 30px;
}

/* Стили для статистики */
.stats {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.stat {
    text-align: center;
    flex: 1;
}

.stat .number {
    font-size: 3em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.stat .label {
    font-size: 1.2em;
    margin: 0;
}

/* Стили для особенностей */
.features {
    display: flex;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.feature {
    text-align: center;
    flex: 1;
}

.feature-number {
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    margin: 0 auto 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.feature-title {
    font-size: 1.2em;
    margin: 0;
}

/* Стили для тегов */
.tags {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
    text-align: center;
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.tags p {
    margin: 0;
    font-size: 1.2em;
    line-height: 1.6;
}

/* Стили для мастеров */
.masters {
    padding: 60px 40px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 40px auto;
    max-width: 1200px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center; /* Центрирование текста */
    position: relative; /* Для позиционирования кнопок */
    overflow: hidden; /* Скрытие переполнения */
}

.masters h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

.masters p {
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 30px;
}

.masters-list {
    display: flex;
    justify-content: flex-start; /* Начальное положение */
    flex-wrap: nowrap; /* Отключение переноса */
    transition: transform 0.3s ease-in-out; /* Плавный переход */
}

.master {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px 20px;
    margin: 20px;
    border-radius: 15px;
    flex: 0 0 30%; /* Фиксированная ширина */
    box-sizing: border-box;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center; /* Центрирование текста */
}

.master:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.master-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin: 0 auto 20px; /* Центрирование изображения */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.master h3 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    text-align: center; /* Центрирование заголовка */
}

.master p.experience {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    text-align: center; /* Центрирование опыта */
}

.master p.description {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 0 20px; /* Добавление отступов по бокам для лучшего выравнивания */
    text-align: left; /* Выравнивание описания по левому краю */
}

/* Стили для кнопок прокрутки */
.scroll-buttons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.scroll-button {
    background-color: rgba(255, 255, 255, 0.3);
    color: #000000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.scroll-button:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

.map {
    text-align: center; /* Центрирование текста */
    margin: 40px auto; /* Отступы сверху и снизу */
    max-width: 1200px; /* Максимальная ширина */

}

.map h2 {
    margin-bottom: 20px; /* Отступ снизу для заголовка */
}

#map {
    display: inline-block; /* Центрирование карты */
    border-radius: 15px; /* Скругление углов */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Тень для карты */
}

#map iframe {
    border-radius: 15px; /* Скругление углов iframe */
    width: 100%; /* Ширина iframe */
    height: 100%; /* Высота iframe */
}